ol, ul {
 list-style: none;
}

#game {
  border: 1px solid black;
  display: block;
  width: 900;
  height: 600;
  margin: 0 auto;
}

.game-page {
  display: flex;
  flex-direction: column;
}

.title {
  margin: 20px auto;
}

.links-container {
  margin-top: 25px;
  /* margin: 0 auto; */
  display: flex;
  align-self: center;
}

.link {
  margin: 0 50px;
}
